.form-contact {
  margin-top: 7em;
  width: 100%;
  &__form {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    &__box {
      display: flex;
      align-items: center;
      height: 4.1em;
      background: #f8f8f8;

      &__img {
        margin-left: 1.2em;
      }
      &__input {
        margin-left: 1em;
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: #777;
        font-family: $third-font;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &__button {
        margin-top: 2em;
        text-align: center;

        &__submit {
          width: 16.1em;
          height: 3.7em;
          background: #bead8e;
          color: #fff;
          text-align: center;
          font-family: $third-font;
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 3.2px;
          text-transform: uppercase;
          border: none;
        }
      }
    }
    &__boxarea {
      height: 10.9em;
      background: #f8f8f8;
      display: flex;
      align-items: start;
      padding-top: 1.5em;

      &__image {
        margin-left: 1.2em;
      }
      &__textarea {
        height: 90%;
        width: 80%;
        margin-left: 1em;
        background-color: transparent;
        border: none;
        color: #777;
        font-family: $third-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
