* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

a {
  text-decoration: none;
}


// body {
//   background-color: aqua;
// }

// ---------------------------------------------------------------------------------

$primary-font: "Old Standard TT", serif;
$secondary-font: "Archivo", sans-serif;
$third-font: "Roboto", sans-serif;
$color: #ffffff;

@import "./src/header/header.scss";
@import "./src/home/home.scss";
