.intro-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__iframe {
    margin-top: 3.75em;
    width: 335px;
    height: 186px;
  }

  &__text {
    margin-top: 1em;
    width: 90%;
    color: #222;
    text-align: center;
    font-family: $primary-font;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.16px;
  }

  &__box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 1.2em;

    &__icons {
      width: 100%;
      padding: 2em 0em;
      width: 9.8em;
      height: auto;
      margin: 0 auto;
    }

    &__icons img {
      width: 3.75em;
      height: 3.75em;
    }

    &__icons p {
      color: #222;
      text-align: center;
      font-family: $secondary-font;
      font-size: 0.7em;
      font-style: normal;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 2.4px;
      text-transform: uppercase;
    }

    .icon-bbq {
      display: none;
    }

    &__icons:hover {
      filter: brightness(50%);
    }
  }
}
