.rooms {
  margin-top: 3.75em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rooms__subtitle {
  color: #777;
  font-family: $secondary-font;
  font-size: 0.87em;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.rooms__title {
  margin-top: 24px;
  width: 100%;
  max-width: 41.25em;
  color: #222;
  text-align: center;
  font-family: $primary-font;
  font-size: 4em;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -2.4px;
}

.rooms__container {
  z-index: 1;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: #fff;
  width: 16em;
  height: 2.5em;
}

// ******************************************
// SWIPER

.swiper {
  margin-top: -20px;
  width: 100%;
  height: auto;
  z-index: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 23.4em;
  max-width: 48.1em;
  height: 15.25em;
  max-height: 31.2em;
  object-fit: cover;
}

.swiper-button-prev {
  width: 32px;
  height: 32px;
  background: #fff;
  cursor: pointer;
}
.swiper-button-prev::after {
  font-size: 9.6px;
  flex-shrink: 0;
  color: #111111;
}

.swiper-button-next {
  width: 32px;
  height: 32px;
  background: #bdac8d;
  cursor: pointer;
}

.swiper-button-next::after {
  font-size: 9.6px;
  flex-shrink: 0;
  color: #FFFFFF;
}
// **************************************

.rooms__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  margin-top: -12px;
  width: 90%;
  text-align: center;
  z-index: 1;
}

.rooms__info__title {
  margin-top: 1.18em;
  color: #222;
  font-family: $primary-font;
  font-size: 1.75em;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.2px;
}

.rooms__info__text {
  margin: 0.75em 0em;
  width: 90%;
  max-width: 437px;
  color: #777;
  text-align: center;
  font-family: $third-font;
  font-size: 0.87em;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.rooms__info__price {
  color: #bead8e;
  text-align: center;
  font-family: $secondary-font;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}

.rooms__info__price span {
  color: #bead8e;
  font-family: $secondary-font;
  font-size: 0.4em;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}
