.footer {
  display: flex;
  flex-direction: column;
  margin-top: 3.75em;
}

.footer__box {
  background: url("../../public/images/footer/fondo footer.png"), rgb(255, 255, 255) 0px 0px/100% 151.817% no-repeat;
}

.footer__box__intro {
  padding-top: 2em;
  padding-bottom: 2.5em;
}

.footer__box__intro__text {
  margin-bottom: 1.37em;
  display: flex;
  align-items: center;
  gap: 1.7em;
  width: 14.8em;
}

.footer__box__intro__text-letter {
  margin-left: 1.37em;
  padding: 1em 1.2em;
  text-align: center;
  background: #bead8e;
  color: #fff;
  font-family: Archivo;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}

.footer__box__intro__text-title {
  color: #111;
  font-family: Archivo;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}

.footer__box__intro__text-title span {
  color: #111;
  font-family: Archivo;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}

.footer__box__intro__text-paragraph {
  margin-left: 20px;
  margin-bottom: 32px;
  width: 90%;
  color: #777;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.footer__box__intro-social {
  margin-left: 28px;
  display: flex;
  gap: 26px;
}

.footer__box__intro-social img {
  width: 20px;
  padding: 2px 2px;
  background: #777;
  border-radius: 20%;
}

.footer__box__intro-social img:hover {
  background: #bead8e;
}

.footer__box__services {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 32px;
}

.footer__box__services-title {
  margin-bottom: 24px;
  color: #222;
  font-family: Old Standard TT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer__box__services__container {
  display: flex;
  gap: 19px;
}

.footer__box__services__container-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.footer__box__services__container-list li {
  color: #777;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 300% */
}

.footer__box__contact {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 32px;
}

.footer__box__contact-title {
  color: #222;
  font-family: Old Standard TT;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}

.footer__box__contact__box {
  display: flex;
  margin-bottom: 59px;
  gap: 21px;
}

.footer__box__contact__box-info h6 {
  color: #222;
  font-family: Old Standard TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer__box__contact__box-info p {
  color: #777;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__copyright {
  padding: 18px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  gap: 24px;
  color: #222;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}/*# sourceMappingURL=footer.css.map */